.Checkout
  grid-template-columns 3fr 1fr
  grid-gap 2rem
  grid-row-ga 1.5em
  display grid
  &-item
    display flex
    justify-content space-between
    align-items center
    .fas
      margin 0 0 0 10px
      color  rgba(0,0,0,.4)
      cursor pointer
  &-element
    display flex
    justify-content space-between
    align-items center
    width 100%
    border-bottom 1px solid gray
    h4
      margin 0
.MenuCheckout
  display flex
  justify-content center
  font-size 80px
  padding 20px
  :hover
    background-color blue
    color white
.MenuCheckout-formaPago_efectivo
  width 250px
  background-color #b5af94
  border-radius 10px
  margin 20px
  box-shadow 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  border none
    :hover
      background-color blue
      color white

.MenuCheckout-formaPago_tarjeta
  width 250px
  background-color #b5af94
  border-radius 10px
  margin 20px
  box-shadow 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
  border none
    :hover
        background-color blue
        color white

.MenuCheckout-printInvoice
  display flexbox
  justify-content center
  text-align center
  width 250px
  background-color #b5af94
  border-radius 10px
  padding 50px
  margin 60px
    :hover
        background-color blue

.trash
  width 17px
  margin 10px
  cursor pointer
  fill currentColor

.cal
  display flex
  flex-direction column
  justify-content flex-end
  align-items center

MenuCheckout-formaPago_pago
  align right

.cambio
  color green
  font-size 24px
  height 50px
  width 200px
  background-color white
  margin 10px

.receipt
  background-color blue
  color white