    .content
        display flex
        width 500px
        height 500px 
        margin auto
        align-items center
        justify-content center
    

    .Pad__Logo
        width 80px
        height 80px
        align-self flex-start

    
    .Pad
        background-color #01426a
        width 500px
        display flex
        flex-direction column
        justify-content center
        align-items center 
        height 800px

    .Pad__Pass
        width 300px
        height 100px
        display flex
        justify-content space-between
        align-items center


    
    .Pad__Pass input
        border none
        -webkit-box-shadow 0 2px 10px 1px rgba(0,0,0,0.5)
        box-shadow 0 2px 10px 1px rgba(0,0,0,0.5)
        width 300px
        height 40px
        border-radius 40px
        justify-content space-around
        background rgba(255,255,255,0.4)
        color #333
        font-size 35px
        text-align center
        color white
    

    .Pad__Numeros
        flex-direction row
        width 280px
        height 70px
        display flex
        :hover
            background-color white
            color blue

    .Pad__Numeros div
        width 100px
        height 50px
        display flex
        border 2px solid lightblue 
        color white
        align-items center
        justify-content center
        background-color #006298
        font-family "Decour Soft"
        border none
        outline none
        cursor pointer
        -webkit-box-shadow 0 2px 10px 1px rgba(0,0,0,0.5)
        box-shadow 0px 2px 10px 1px rgba(0,0,0,0.5)
        :hover
            background-color white
            color blue
        
    .Pad__Boton button
        width 280px
        height 50px 
        background-color lightgray
        border none
        border-radius 5px
        font-family "Decour Soft"
    