.screenMain
    display grid
    grid-template-columns 2fr 1fr
    grid-gap 1rem
    margin 10px
    @media screen and (max-width:780px)
        grid-template-columns 1fr

.summaryBox
    background-color rgba(241, 230, 178,0.7)
    padding 5px
    border-radius 10px
    color #003e51
    font-size 18px
    line-height 2
    @media screen and (max-width:780px)
        display none

.printing
    background-color rgba(241, 230, 178,0.7)
    padding 5px
    border-radius 10px
    color #003e51
    font-size 18px
    line-height 2
    @media screen and (max-width:780px)
        display none


h4
    font-size:1rem